body {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col-md-8 {
  background-color:rgba(24,46,32,0.3);
  margin-top: 80px;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  text-align: center;
  /* padding-top: 80px;
  padding-bottom: 80px; */
}

#title {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 100px;
  margin-top: 10px;
}

.select {
  color: black;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

h1 {
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

h3 {
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

h5 {
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

button {
  margin-top: 20px;
}

.navbar {
  font-size: 40px;
}

a {
  padding-right: 20px;
  padding-left: 20px;
}
